# Datasets

DataPrep provides a collections of datasets. You could easily load them using one line of code and explore the functionalities of dataprep on them.

## List Available Datasets
You could list the name of all available datasets by calling `get_dataset_names`, as shown in below.

In [1]:
from dataprep.datasets import get_dataset_names
get_dataset_names()

['iris', 'titanic']

## Load Dataset

After you know the available dataset names from `get_dataset_names`. Next you could load the dataset by calling `load_dataset`.

In [2]:
from dataprep.datasets import load_dataset
df = load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## Analyze Dataset
After you get the dataset, you could try to use dataprep to explore the dataset. For example, you may want to create a profiling report of the dataset using `dataprep.eda`.

In [ ]:
from dataprep.eda import create_report
report = create_report(df)
report.show_browser()